.research-item {
  padding: 1.2rem 2rem 1.8rem; // smaller top padding

  > :first-child {
    margin-top: 0; // removes inner gap
  }

  // spacing BETWEEN blue blocks
  & + .research-item {
    margin-top: 2.2rem;
  }

  background: #f6f9fc;
  border-radius: 16px;

  box-shadow:
    0 6px 18px rgba(0, 0, 0, 0.08),
    0 2px 6px rgba(0, 0, 0, 0.06);

  .research-title {
    margin-bottom: 0.45rem;
  }

  .research-authors {
    font-size: 0.85rem;
    font-style: italic;
    color: #666;
    margin-bottom: 1rem;
  }

  .research-summary {
    font-size: 0.87rem;
    line-height: 1.55;
    color: #444;
  }

  .research-publication {
    margin-top: 1.3rem;
    padding: 0.9rem 1.2rem;

    background: #ffffff;
    border-left: 3px solid #2E7D6F;
    border-radius: 10px;

    font-size: 0.85rem;
  }
}

.page-publications {
  h3 {
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
    font-size: 1.05rem;
    font-weight: 600;
  }
}


.publications-box {
  padding: 1.2rem 2rem 1.8rem;
  font-size: 0.9rem;
  background: #dae4ed;
  border-radius: 16px;

  box-shadow:
    0 6px 18px rgba(0, 0, 0, 0.08),
    0 2px 6px rgba(0, 0, 0, 0.06);

  > :first-child {
    margin-top: 0; // remove inner top gap
  }

  // make numbered publication text smaller
  ol {
    font-size: 0.9rem;
    padding-left: 1.2rem;
    line-height: 1.45;
  }

  ol li {
    margin-bottom: 1.2rem;
  }
  margin-bottom: 5rem;
}

.thesis-box {
  padding: 1.2rem 2rem 1.8rem;
  font-size: 0.9rem;
  background: #e0f4e0;
  border-radius: 16px;

  box-shadow:
    0 6px 18px rgba(0, 0, 0, 0.08),
    0 2px 6px rgba(0, 0, 0, 0.06);

  > :first-child {
    margin-top: 0; // remove inner top gap
  }

  // make numbered publication text smaller
  ol {
    font-size: 0.9rem;
    padding-left: 1.2rem;
    line-height: 1.45;
  }

  ol li {
    margin-bottom: 1.2rem;
  }
  margin-bottom: 5rem;
}


.talks-box {
  padding: 1.2rem 2rem 1.8rem;
  font-size: 0.9rem;
  background: #e1def3;
  border-radius: 16px;

  box-shadow:
    0 6px 18px rgba(0, 0, 0, 0.08),
    0 2px 6px rgba(0, 0, 0, 0.06);

  > :first-child {
    margin-top: 0; // remove inner top gap
  }

  // make numbered publication text smaller
  ol {
    font-size: 0.9rem;
    padding-left: 1.2rem;
    line-height: 1.45;
  }

  ol li {
    margin-bottom: 1.2rem;
  }
  margin-bottom: 5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}